{% extends "bootstrap/base.html" %}

{% block title %}Payment{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

<div class="form-group row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-5">

            <form name="Pay" method="POST" action="https://pay.piastrix.com/en/pay" enctype="multipart/form-data" class="form-horizontal form-label-left" accept-charset="UTF-8">
                <p>

                    <input type="hidden" class="form-control" name="amount" value="{{ order.amount }}" ></p>
                <p>
                    <input type="hidden" class="form-control" name="currency" value="{{ currencies_values[order.currency] }}"></p>
                <p>
                    <input type="hidden" class="form-control" name="shop_id" value="{{ shop_id }}" ></p>
                <p>
                    <input type="hidden" class="form-control" name="sign" value="{{ sign }}" ></p>
                <p>
                    <input type="hidden" class="form-control" name="shop_order_id" value="{{ order.id }}" ></p>
                <p>
                    <input type="hidden" class="form-control" name="description" value="{{ order.description }}" ></p>
                <p>
                    <input type="submit" class="form-control" name="description" value="Payment" ></p>



            </form>
        </div></div>


{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}
