{% extends "bootstrap/base.html" %}

{% block title %}Payment{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

<div class="form-group row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-5">

            <form method="POST" enctype="multipart/form-data" class="form-horizontal form-label-left">
                <h2 style="border-bottom:2px solid #E6E9ED; ">General information</h2>
                <p>

                    <label for="tag">Sum:</label>
                    <input class="form-control" name="sum" type="text">

                </p>
                    <p>
                        <label for="tag">Currency:</label>
                        <select class="form-control" name="currency">
                            <option selected="selected" value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="RUB">RUB</option>
                        </select>

                    </p>
                <p>
                    <label for="tag">Description:</label>
                    <textarea class="form-control" name="description"></textarea>

                </p>



                <button type="submit" class="btn btn-round btn-success">Pay</button>


            </form>


{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}
