{% extends "bootstrap/base.html" %}

{% block title %}Payment{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

<div class="form-group row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-5">

            <form name="Pay" method="{{ method }}" action="{{ action }}"  class="form-horizontal form-label-left">
                {% for d in data %}
                <p>
                    <input type="hidden" class="form-control" name="{{ d }}" value="{{ data[d] }}" ></p>
                {% endfor %}


                <p>
                    <input type="submit" class="form-control" name="description" value="Payment" ></p>
            


            </form>
        </div></div>


{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}
